.footer {
    width: 100vw;
    height: 40vh;

    background-color:lightblue;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    box-sizing: border-box;
}

.footer-text ul li {
    list-style-type: none;
}